.signup-container
{
    flex-direction: column;
    justify-content: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    height: 200px;
    width: 400px;
}

#contactheader
{
    text-align: center;
    color: blue;
}