:root {
  --dark-color: #262727;
  --color-fff: #ffffff;
  --color-100: #f0f0f0;
  --color-200: #eeeeee;
  --color-300: #e0e0e0;
  --color-400: #bdbdbd;
  --color-500: #525252;
  --color-600: #464545;
  --color-700: #363535;
  --color-800: #252525;
  --color-900: #181818;
  --color-000: #000000;
  --border-color: #e9e6e1;
  --card-color: #a2dceef3;
  --body-color: #f8f6f2;
  --white-color: #ffffff;
  --sidebar-color: #ffffff;

  --primary-color: #052641;
  --secondary-color: #00ac9a;
}

.container {
  margin-top: 200px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  height: 200px;
  width: 400px;
  /* outline: dashed 1px black; */
}

#contactheader {
  font-size: 50px;
}
